html,body{
    background-color: paleturquoise;
}
.wrap-login{
    position: absolute;    
    top: 50%;
    left: 50%;
    height: 650px;
    width: 500px; 
    margin-top: -290px; 
    margin-left: -300px;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
}
.login-title{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
.block{
    margin-left: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 2.5;
    display: block;
    width: 100%;
    height: 45px;
    padding: 0 5px;
}
.checkbox{
    margin-top: 55px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-left: 75px;
    padding-left: 25px;
    
}
input{
    outline: none;
    border: none;
    border-bottom: 2px solid dimgrey;
    width: 70%;
}
.icon{
    display: block; margin: auto;
    width: 25%;
}
